{% load static %}

<div class="dashboard-main-wrapper">
    <!-- ============================================================== -->
   <!-- navbar -->
   <!-- ============================================================== -->
 <div class="dashboard-header">
       <nav class="navbar navbar-expand-lg bg-white fixed-top">
           <a class="navbar-brand" href="{% url 'start' %}"><img src="{% static 'assets/images/atlantistextlogo.png' %}" style="width: 170px;" alt="" srcset=""></a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse " id="navbarSupportedContent">
               <ul class="navbar-nav ml-auto navbar-right-top">
                  
                   <li class="nav-item dropdown notification">
                       <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i> <span class="indicator"></span></a>
                       <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                           <li>
                               <div class="notification-title"> Notification</div>
                               <div class="notification-list">
                                   <div class="list-group">
                            <!-- Start of Notification -->
                            {% for notif in notifs %}

                                       <a href="#" class="list-group-item list-group-item-action">
                                           <div class="notification-info">
                                               <div class="notification-list-user-img"><img src="{% static 'assets/images/atlanislogo.png' %}" alt="" class="user-avatar-md rounded-circle"></div>
                                               <div class="notification-list-user-block"><span class="notification-list-user-name">{% if notif.severity == 1  %} Bad Alert: {% endif %} {% if notif.severity == 0  %} Good Alert: {% endif %} </span> {{ notif.message  }} 
                                                   <div class="notification-date">{{ notif.timestamp  }}</div>
                                               </div>
                                           </div>
                                       </a>
                            {% endfor %}
                                   </div>
                               </div>
                           </li>
                           <li>
                               <div class="list-footer"> <a href="#">View all notifications</a></div>
                           </li>
                       </ul>
                   </li>
                   <li class="nav-item dropdown connection">
                       <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-fw fa-exclamation-circle"></i> </a>
                       <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
                           <li class="connection-list">
                               <div class="row">
                                   <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                                       <a href="#" class="connection-item"><img src="{% static 'assets/images/github.png' %}" alt="" > <span>Github</span></a>
                                   </div>
                                   <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                                       <a href="#" class="connection-item"><img src="{% static 'assets/images/dribbble.png' %}" alt="" > <span>Dribbble</span></a>
                                   </div>
                                 
                               </div>
                               <div class="row">
                                  
                                   <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                                       <a href="#" class="connection-item"><img src="{% static 'assets/images/mail_chimp.png' %}" alt="" ><span>Mail chimp</span></a>
                                   </div>
                                   <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                                       <a href="#" class="connection-item"><img src="{% static 'assets/images/slack.png' %}" alt="" > <span>Slack</span></a>
                                   </div>
                               </div>
                           </li>
                           <li>
                               <div class="conntection-footer"><a href="#">More</a></div>
                           </li>
                       </ul>
                   </li>
                   <li class="nav-item dropdown nav-user">
                       <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{% static 'assets/images/atlanislogo.png' %}" alt="" class="user-avatar-md rounded-circle"></a>
                       <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                           <div class="nav-user-info">
                               <h5 class="mb-0 text-white nav-user-name">
{{ fullname }}</h5>
                           </div>
                           <a class="dropdown-item" href="{%  url 'edit_profile'  %}"><i class="fas fa-user mr-2"></i>Account</a>
                           <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a>
                           <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-power-off mr-2"></i>Logout</a>
                       </div>
                   </li>
               </ul>
           </div>
       </nav>
   </div>
   <!-- ============================================================== -->
   <!-- end navbar -->
   <!-- ============================================================== -->
   <!-- ============================================================== -->
   <!-- left sidebar -->
   <!-- ============================================================== -->
  <div class="nav-left-sidebar sidebar-dark">
       <div class="menu-list">
           <nav class="navbar navbar-expand-lg navbar-light">
               <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                   <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarNav">
                   <ul class="navbar-nav flex-column">
                       <li class="nav-divider">
                           Menu
                       </li>
                       <li class="nav-item ">
                           <a class="nav-link  {% if request.path == '/start/' %}active{% endif %}" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>Dashboard <span class="badge badge-success">6</span></a>
                           <div id="submenu-1" class="collapse submenu" style="">
                               <ul class="nav flex-column">
                                   
                                   <li class="nav-item">
                                    <a class="nav-link   {% if request.path == '/start/' %}active{% endif %}" href="{% url 'start'%}" >Home</a>
                                   </li>
                               
                                  
                               </ul>
                           </div>
                       </li>
                       <!-- <li class="nav-item">
                           <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2"><i class="fa fa-fw fa-rocket"></i>UI Elements</a>
                           <div id="submenu-2" class="collapse submenu" style="">
                               <ul class="nav flex-column">
                                   <li class="nav-item">
                                       <a class="nav-link" href="cards.html">Cards <span class="badge badge-secondary">New</span></a>
                                   </li>
                                   <li class="nav-item">
                                       <a class="nav-link" href="general.html">General</a>
                                   </li>
                                   <li class="nav-item">
                                       <a class="nav-link" href="carousel.html">Carousel</a>
                                   </li>
                                   <li class="nav-item">
                                       <a class="nav-link" href="listgroup.html">List Group</a>
                                   </li>
                                   <li class="nav-item">
                                       <a class="nav-link" href="typography.html">Typography</a>
                                   </li>
                                   <li class="nav-item">
                                       <a class="nav-link" href="accordions.html">Accordions</a>
                                   </li>
                                   <li class="nav-item">
                                       <a class="nav-link" href="tabs.html">Tabs</a>
                                   </li>
                               </ul>
                           </div>
                       </li> -->
                       <li class="nav-item">
                           <a class="nav-link {% if request.path == '/waterbiofiltercharts/' or request.path == '/waterbedcharts/' or request.path == '/greencharts/'  %}active{% endif %}" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="fas fa-fw fa-chart-pie"></i>Chart</a>
                           <div id="submenu-3" class="collapse submenu  {% if request.path == '/waterbiofiltercharts/' or request.path == '/waterbedcharts/' or request.path == '/greencharts/'  %}show{% endif %}" style="">
                               <ul class="nav flex-column">
                                   <li class="nav-item ">
                                       <a class="nav-link {% if request.path == '/waterbiofiltercharts/' %}active{% endif %}" href="{% url 'waterbiofiltercharts' %}">Bio Filter Charts</a>
                                   </li>
                                   <li class="nav-item">
                                       <a class="nav-link {% if request.path == '/waterbedcharts/' %}active{% endif  %}" href="{% url 'waterbedcharts' %}">Water Bed Charts</a>
                                   </li>
                                   <li class="nav-item">
                                    <a class="nav-link {% if request.path == '/greencharts/' %}active{% endif  %}" href="{% url 'greencharts' %}">Green House Charts</a>
                                </li>
                               </ul>
                           </div>
                       </li>
                       <!-- <li class="nav-item ">
                           <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-4" aria-controls="submenu-4"><i class="fab fa-fw fa-wpforms"></i>Forms</a>
                           <div id="submenu-4" class="collapse submenu" style="">
                               <ul class="nav flex-column">
                                   <li class="nav-item">
                                       <a class="nav-link" href="form-elements.html">Form Elements</a>
                                   </li>
                                   <li class="nav-item">
                                       <a class="nav-link" href="form-validation.html">Parsely Validations</a>
                                   </li>
                                   <li class="nav-item">
                                       <a class="nav-link" href="multiselect.html">Multiselect</a>
                                   </li>
                               </ul>
                           </div>
                       </li> -->
                       <li class="nav-item">
                           <a class="nav-link  {% if request.path == '/greenhouse/' or request.path == '/waterbiofilter/' or request.path == '/waterbed/'  %}active{% endif %}" href="#" data-toggle="collapse" aria-expanded="{% if request.path == '/greenhouse/' or request.path == '/waterbiofilter/' or request.path == '/waterbed/'  %}true{% endif %}" data-target="#submenu-5" aria-controls="submenu-5"><i class="fas fa-fw fa-table"></i>Records</a>
                           <div id="submenu-5" class="collapse submenu {% if request.path == '/greenhouse/' or request.path == '/waterbiofilter/' or request.path == '/waterbed/'  %}show{% endif %}" style="">
                               <ul class="nav flex-column">
                                   <li class="nav-item">
                                       <a class="nav-link  {% if request.path == '/greenhouse/' %}active{% endif %}" href="{% url 'greenhouse'%}">Greenhouse Table</a>
                                   </li>
                                   <li class="nav-item">
                                       <a class="nav-link  {% if request.path == '/waterbiofilter/' %}active{% endif %}" href="{% url 'waterbiofilter'%}">Bio Filter Table</a>
                                   </li>
                                   <li class="nav-item">
                                       <a class="nav-link  {% if request.path == '/waterbed/' %}active{% endif %}" href="{% url 'waterbed'%}">Water Bed Table</a>
                                   </li>
                               </ul>
                           </div>
                       </li>
                       <li class="nav-divider">
                           Device Monitoring
                       </li>
                       <li class="nav-item">
                           <a class="nav-link {% if request.path == '/edge_devices/' %}active{% endif %}" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-6" aria-controls="submenu-6"><i class="fas fa-fw fa-file"></i>Edge Devices</a>
                           <div id="submenu-6" class="collapse submenu {% if request.path == '/edge_devices/' %}show{% endif %}" style="">
                               <ul class="nav flex-column">
                                   <li class="nav-item">
                                       <a class="nav-link {% if request.path == '/edge_devices/' %}active{% endif %}" href="{% url 'edge_devices' %}">Edge Devices</a>
                                   </li>
                               </ul>
                           </div>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link  {% if request.path == '/cameras/' or request.path == '/cameras/' or request.path == '/cameras/'  %}active{% endif %}" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-7" aria-controls="submenu-7"><i class="fas fa-fw fa-inbox"></i>Obsevations <span class="badge badge-secondary">Sensors</span></a>
                           <div id="submenu-7" class="collapse submenu {% if request.path == '/cameras/' or request.path == '/cameras/' or request.path == '/cameras/'  %}show{% endif %}">
                               <ul class="nav flex-column">
                                   <li class="nav-item">
                                       <a class="nav-link {% if request.path == '/cameras/' %}active{% endif %}" href="{% url 'cameras'%}" href="inbox.html">Cameras</a>
                                   </li>
                                  
                               </ul>
                           </div>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link {% if request.path == '/actuators/' or request.path == '/actuator_updates/' %}active{% endif %}" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-8" aria-controls="submenu-8"><i class="fas fa-fw fa-plug"></i>Actuators</a>
                           <div id="submenu-8" class="collapse submenu {% if request.path == '/actuators/' or request.path == '/actuator_updates/' %}show{% endif %}" style="">
                               <ul class="nav flex-column">
                                
                                <li class="nav-item">
                                    <a class="nav-link {% if request.path == '/actuators/' %}active{% endif %}" href="{% url 'actuators' %}">Menu/List</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if request.path == '/actuator_updates/' %}active{% endif %}" href="{% url 'actuator_updates' %}"">Updates</a>
                                </li>

                              
                               </ul>
                           </div>
                       </li>
                       <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" 
                           data-target="#sensorSubmenu" aria-controls="sensorSubmenu">
                            <i class="fas fa-fw fa-life-ring"></i>Sensors
                        </a>
                        {% if sensor_types %}
                            <div id="sensorSubmenu" class="collapse submenu">
                                <ul class="nav flex-column">
                                    {% for sensor_type in sensor_types %}
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'sensor_detail' sensor_type.id %}">
                                                {% if sensor_type.icon_path %}
                                                    <img src="{{ sensor_type.icon_path }}" class="sensor-icon" alt="{{ sensor_type.name }} icon" onerror="this.onerror=null; this.src='/static/images/default_icon.png'">
                                                {% endif %}
                                                {{ sensor_type.name }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% else %}
                            <div class="collapse submenu">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">No sensors configured</a>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}
                    </li>
                       <!-- <li class="nav-item">
                           <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-10" aria-controls="submenu-10"><i class="fas fa-f fa-folder"></i>Menu Level</a>
                           <div id="submenu-10" class="collapse submenu" style="">
                               <ul class="nav flex-column">
                                   <li class="nav-item">
                                       <a class="nav-link" href="#">Level 1</a>
                                   </li>
                                   <li class="nav-item">
                                       <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-11" aria-controls="submenu-11">Level 2</a>
                                       <div id="submenu-11" class="collapse submenu" style="">
                                           <ul class="nav flex-column">
                                               <li class="nav-item">
                                                   <a class="nav-link" href="#">Level 1</a>
                                               </li>
                                               <li class="nav-item">
                                                   <a class="nav-link" href="#">Level 2</a>
                                               </li>
                                           </ul>
                                       </div>
                                   </li>
                                   <li class="nav-item">
                                       <a class="nav-link" href="#">Level 3</a>
                                   </li>
                               </ul>
                           </div>
                       </li> -->
                   </ul>
               </div>
           </nav>
       </div>
   </div>